/*#editInput {
	size: 50;
}*/


.carCard {
	border: 2px solid black;
	text-align: center;
}

.carCardTitle span {
	padding-right: 10px;
	font-size: 1.5em;
	font-weight: bold;
}

.carColor {
	font-style: italic;
	font-size: 1em;
}

.carPrice {
	font-size: 2em;
}

.carDescript {
	font-size: 1.2em;
	font-style: italic;

}

.selectedBorder {
	border: 4px dotted red;
}